<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- property injection -->
	
	<!-- bean 1 -->
	<bean class="com.springCore.Student" name = "student1" p:studentId="1" p:studentName="Himanshu Sharma" p:studentAddress="Gurgoan, Haryana" />
	
	<!-- bean 2 -->
	<bean class="com.springCore.Student" name = "student2" p:studentId="2" p:studentName="Karan Sharma" p:studentAddress="Delhi" />

</beans>